<%- include("partials/header.ejs") %>


<h1 class="text-3xl font-bold my-8">Welcome to our Blog!</h1>

  <p>Lorem ipsum dolor sit amet, et proin, justo mus. Porta suspendisse turpis netus sagittis tortor at, vitae aliquet
    pharetra cras velit, id gravida, neque nulla lorem, posuere hac. Ultricies eget lacus vehicula, in ante aliquam
    et,facilisis tempor duis orci. Sed molestie sem in duis eu id, nisl id ultricies metus blandit eget praesent, pede
    tempornullam, vitae arcu tortor suspendisse nibh risus. Nulla id suscipit reiciendis nulla erat. Porta enim aute
    luctus,ducimus sodales dolor.
  </p>
 
  <div class="container">
    <div class="row">
      <% posts.forEach(post => { %>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img class="img-fluid" src="https://plus.unsplash.com/premium_photo-1669312747277-b1acd3eb2f98?q=80&w=200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="mt-2"><%= post.content.length > 100 ? post.content.substring(0, 100) + '...' : post.content %></p>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Post actions">
                    <span onclick="submitForm('/delete-post/<%= post._id %>')" class="btn btn-danger">Delete</span>
                    <a href="/edit-post/<%= post._id %>" class="btn btn-primary">Edit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  
  <script>
    function submitForm(action) {
      const form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', action);
      document.body.appendChild(form);
      form.submit();
    }
  </script>
  

    
  <%- include("partials/footer.ejs") %>